@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-edge-outline {
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
    }
}

:root {
    --text: #2b3044;
    --line: #bbc1e1;
    --line-active: #275efe;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}
.link-underline:hover {
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(grey, grey);
    background-size: 100% 3px;
    background-position: 0 100%;
}

.link-animate {
    font-size: 18px;
    margin: 0;
    color: var(--text);
}

.link-animate {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.25s;
}

.link-animate .underline {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s),
        stroke-dasharray 0.35s;
}
.link-animate:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: 0.1s;
    --offset: 180px;
}
